.pagination .page-item {
  cursor: pointer;
  margin-right: 10px;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.pagination .page-item.disabled .page-link {
  color: #ccc;
  pointer-events: none;
}

.pagination .page-link {
  color: #007bff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin: 0 2px;
  transition: all 0.3s ease;
}

.pagination .page-link:hover {
  background-color: #e9ecef;
  color: #0056b3;
}
